.hero-container {
  display: flex;
  width: 100%;
  height: 700px;
  padding-top: 10%;
}

.intro-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  // padding: 9% 10px 0px 150px;
}
.photo-container {
  display: flex;
  width: 30%;
  // padding-top: 9%;
  justify-content: end;
}

.intro-Heading {
  font-size: 60px;
}

.photo-holder {
  display: flex;
  width: 80%;
  height: 71%;
  transition: 0.3s ease;
}

.profile-img-style {
  width: 100%;
  height: 100%;
}

.aboutme-container {
  display: flex;
  width: 100%;
  height: 900px;
  /* min-height: 900px; */
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 3%;
  gap: 5%;
}

.about-me-holder {
  display: flex;
}
.aboutmepic-holder {
  display: flex;
  width: 50%;
  height: 800px;
}

.about-pic-conatiner {
  display: flex;
  width: 80%;
  height: 70%;
  border: 2px solid white;
}
.aboutmepic-style {
  width: 100%;
  height: 100%;
}
.aboutmetext-holder {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 800px;
  // padding: 5% 16% 0px 10px;
  gap: 15px;
}

.skill-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 600px;
  padding-top: 3%;
  gap: 20px;
}

.skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 350px;
  margin-top: 5%;
  // padding: 100px 305px 0px 350px;
  gap: 6%;
  row-gap: 35px;
  // background-color: red;
}

.work-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding-top: 70px;
}

.work-holder {
  display: flex;
  width: 100%;
  min-height: 500px;
  // background: red;
  // padding: 20px 25%;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.work-card {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 240px;
  border-radius: 10px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  padding: 30px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */

  .company-name-holder {
    display: flex;
    height: auto;
    width: 20%;
    background: transparent;
  }
  .title-spec-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10%;
    height: auto;
    width: 55%;
    background: transparent;

    .title-holder {
      font-family: "Radio Canada";
      font-size: large;
      font-weight: bold;
      background: transparent;
    }
    .ul-style {
      padding: 0px;
      padding-inline-start: 20px;

      li {
        margin-bottom: 8px; /* adds space between bullet items */
      }
    }
  }

  .date-holder {
    display: flex;
    height: auto;
    width: 25%;
    justify-content: flex-end;
    background-color: transparent;
  }
}

.project-cards {
  display: flex;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and color */

  .project-image-area {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 40px;
  }
  .project-description-area {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #374151;
    padding: 40px;
    gap: 15px;

    .hints-holder {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5%;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 10px;
      row-gap: 10px;

      .stack-hints {
        display: flex;
        min-height: 20px;
        min-width: 100px;
        padding: 2px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
      }
    }
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background: #111827;
  padding-top: 70px;
  align-items: center;
  gap: 40px;

  .personal-note {
    display: flex;
    width: 100%;
    height: 79px;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
  }
}

/* Large Desktops */
@media (max-width: 1400px) {
  .photo-holder {
    display: flex;
    width: 90%;
    height: 56%;
    transition: 0.3s ease;
  }
}

/* Laptops */
@media (max-width: 1200px) {
  .hero-container {
    padding-left: 12% !important;
    padding-right: 12% !important;
  }

  .intro-container {
    width: 60%;
  }

  .photo-container {
    width: 40%;
  }

  .about-me-holder {
    display: flex;
  }
  .aboutmepic-holder {
    display: flex;
    width: 50%;
    height: 800px;
  }

  .about-pic-conatiner {
    display: flex;
    width: 80%;
    height: 60%;
    border: 2px solid white;
  }
}

/* Tablets Landscape */
@media (max-width: 992px) {
  .hero-container {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }

  .intro-container {
    width: 55%;
  }
  .photo-container {
    width: 45%;
  }
}

/* Tablets Portrait */
@media (max-width: 768px) {
  .aboutme-container {
    height: 1295px;

    .about-me-holder {
      display: flex;
      flex-direction: column;
      .aboutmepic-holder {
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: center;

        .about-pic-conatiner {
          display: flex;
          width: 60%;
          height: 80%;
          border: 2px solid white;
        }
      }
      .aboutmetext-holder {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        gap: 15px;
      }
    }
  }

  .work-card {
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20%;

    .company-name-holder {
      width: 100%;
    }
    .title-spec-holder {
      width: 100%;
      order: 2;
      justify-content: flex-start;
      padding-left: 0px;
      margin-top: 20px;
    }

    .date-holder {
      justify-content: flex-start;
      width: 100%;
      order: 1;
      margin-top: 20px;
    }
  }

  .project-cards {
    flex-direction: column;
    height: auto;
    width: 100%;

    .project-image-area {
      width: 100%;
      height: 50%;
    }

    .project-description-area {
      width: 100%;
      height: 50%;
    }
  }
}
/* Phones */
@media (max-width: 576px) {
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 950px;
    padding-top: 10%;
    justify-content: flex-end;

    .intro-Heading {
      font-size: 30px;
    }
    .intro-container {
      width: 100%;
      height: 50%;
    }
    .photo-container {
      width: 100%;
      height: 50%;
      justify-content: center;

      .photo-holder {
        width: 60%;
        height: 85%;
        transition: 0.3s ease;
      }
    }
  }

  .skill-container {
    height: 900px;
  }

  .aboutme-container {
    height: 1450px;

    .about-pic-conatiner {
      width: 76%;
      height: 75%;
    }
  }
}

/* Small Phones */
@media (max-width: 320px) {
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 950px;
    padding-top: 10%;
    justify-content: flex-end;

    .intro-Heading {
      font-size: 30px;
    }
    .intro-container {
      width: 100%;
      height: 50%;
    }
    .photo-container {
      width: 100%;
      height: 50%;

      .photo-holder {
        width: 100%;
        height: 90%;
        transition: 0.3s ease;
      }
    }
  }

  .aboutme-container {
    height: 1450px;

    .about-pic-conatiner {
      width: 76%;
      height: 75%;
    }
  }
}
